/* Stili di reset e classi per i colori text e bg */

* {
    margin : 0 ;
    padding: 0 ;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: #F6F8F9;
}

.blue {
    background-color: #47ADF1;
}

.purple {
    background-color: #9C72E4;
}

.green {
    background-color: #64C0A9;
}


.orange {
    background-color: #F29E33;
}

.pink {
    background-color: #E9B0D1;
}

.olive {
    background-color: #B0C926;
}

.white {
    background-color: #fff;
}

.text-white {
    color: #fff;
}

.text-light-gray {
    color: #C5CBD0;
}

.text-dark-gray {
    color: #4B4F58;
}



/* ----------------------------------------------- */



/* Stile dell'header */

header {
    padding: 10px 30px;
    font-weight: 800;
    font-size: 35px;
    height: 80px;
    background-color: #fff;
  
}

header img {
    vertical-align: middle;
}

/* ----------------------------------------------- */

/* stile del container */

.container {
    width: 1000px;
    margin: auto;
    background-color: #fff ;
    margin-top: 30px;
    border-radius: 5px;
  
}


/* ----------------------------------------------- */


/* stile del div add (contiene 2 button add task e add section)  */

.add {
    padding: 20px 60px;
    border-bottom: 1px solid #C5CBD0;
}


.task {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 0px;
    margin : 0 5px;
}

.section {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border: 0px;
    margin : 0 5px;
    border: 2px solid #C5CBD0;
}


/* ----------------------------------------------- */


/* stile del div tasks (container dei vari div (new , today , upcoming)   */

.tasks {
    padding: 50px;
}


/* ----------------------------------------------- */


/* stile del div new , today , upcoming   */



.section-task {
    margin-top: 5px;
    padding: 5px;
  
}


p {
    font-size: 20px;
    color: #000;
    display: inline-block;
}

.info {
    display: inline-block;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
}

.list-task {
    list-style-type: none;
}

.list-task li {
    margin: 20px 0px;
    padding-left: 20px;
}