/* Stili di reset e classi per i colori text e bg */

* {
    margin : 0 ;
    padding: 0 ;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-color: #F6F8F9;
}

.blue {
    background-color: #47ADF1;
}

.purple {
    background-color: #9C72E4;
}

.green {
    background-color: #64C0A9;
}


.orange {
    background-color: #F29E33;
}

.pink {
    background-color: #E9B0D1;
}

.olive {
    background-color: #B0C926;
}

.text-white {
    color: #fff;
}

/* ----------------------------------------------- */



/* Stile dell'header */

header {
    padding: 10px 30px;
    font-weight: 800;
    font-size: 35px;
    height: 80px;
    background-color: #fff;
  
}

header img {
    vertical-align: middle;
}

/* ----------------------------------------------- */



.container {
    width: 1000px;
    margin: auto;
    background-color: #fff ;
    margin-top: 30px;
    border-radius: 5px;
  
}

.add {
    padding: 20px;
}